.banner-container {
  width: 800px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #C3AED6;
}

.container h2 {
  margin-bottom: 12px;
}

.card-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.footer {
  display: flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  background: linear-gradient(#C3AED6, #C0D8C7 25%);
}

.footer p {
  font-size: 12px;
}
